server:
  port: 8081
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://47.105.46.4:3306/jpa?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      auto-commit: true
      idle-timeout: 600000
      allow-pool-suspension: false
      connection-timeout: 30000
      initialization-fail-timeout: 1
      maximum-pool-size: 10
      minimum-idle: 2
      login-timeout: 1800000
      max-lifetime: 28700000
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    show-sql: true
    generate-ddl: false
    database-platform: org.hibernate.dialect.MySQL57Dialect
    open-in-view: true # 禁用在视图层仍然可以获取懒加载数据,默认SpringMVC是开启状态,会影响性能.
    properties:
      hibernate.format-sql: true
      hibernate.show-sql: true
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: dev
  liquibase:
    contexts: dev
    drop-first: false
  data:
    mongodb:
      database: jpa
      host: 47.105.46.4
      port: 27017
    redis:
      repositories:
        enabled: false
  redis:
    lettuce:
      pool:
        max-active: 8
        max-wait: 10
        min-idle: 0
        max-idle: 4
      shutdown-timeout: 100
    host: 47.105.46.4
    port: 6379
    database: 0
  rabbitmq:
    host: 47.105.46.4
    port: 5672
    username: admin
    password: admin
    virtual-host: /
    listener:
      simple:
        auto-startup: true
jhipster:
  cors:
    allowed-origins: "*"
    allowed-methods: "*"
    allowed-headers: "*"
    exposed-headers: "Authorization,Link,X-Total-Count"
    allow-credentials: true
    max-age: 1800
  async:
    core-pool-size: 2
    max-pool-size: 50
    queue-capacity: 10000
  security:
    remember-me:
      key: 4e431fe0f41cec2457ba464d1fa53d2e287a54e5e92c9dca30c68d95af40e1bbc2cc4d3d25f0f61049dc3934466e6586a8eb
    authentication:
      jwt:
        base64-secret: RFE2Y1NNTlRsRDNDLzJiblVQRnZMYUZ4WXVjV1huWWVYa1luY0NNT3hlTVU1QmI2ZVZ3N2pkVFBISjBHS08zSEV1NWNYMGVGSXh0S3ZTQURjSkdzWWJsRE5sTjg3cVpjdDUwSkxhQnR6WXlhOUdTNHc5YjBkazlmbnk1WXd4MFowT3hZYnZFUUU2dVVyWW1ET0IwbUtNeGNCbmlCc1dYOTFqSnhmNy9VTlc4JTNE
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000

