server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/jpa?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      auto-commit: true
      idle-timeout: 600000
      allow-pool-suspension: false
      connection-timeout: 30000
      initialization-fail-timeout: 1
      maximum-pool-size: 10
      minimum-idle: 2
      login-timeout: 1800000
      max-lifetime: 28700000
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    show-sql: true
    generate-ddl: false
    open-in-view: true # 禁用在视图层仍然可以获取懒加载数据,默认SpringMVC是开启状态,会影响性能.
    properties:
      hibernate.format-sql: true
      hibernate.show-sql: true
      hibernate.jdbc.time_zone: Asia/Shanghai #除非指定，否则JDBC驱动程序使用默认的JVM时区。如果通过此设置配置了不同的时区，JDBC PreparedStatement\setTimestamp将根据指定的时区使用日历实例
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: dev
  liquibase:
    contexts: dev
    drop-first: true
  data:
    mongodb:
      database: jpa
      host: localhost
      port: 27017
    redis:
      repositories:
        enabled: false
  redis:
    lettuce:
      pool:
        max-active: 8
        max-wait: 10
        min-idle: 0
        max-idle: 4
      shutdown-timeout: 100
    host: localhost
    port: 6379
    database: 0
    #password: 123456
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    virtual-host: /
    listener:
      simple:
        auto-startup: true

