server:
  port: 8080
logging:
  level:
    org.springframework.data.mongodb.core: DEBUG
    com.application.repository: DEBUG
    org.quartz: TRACE
  config: classpath:config/log/logback-spring.xml
spring:
  application:
    name: GradleSpringBoot
  profiles:
    active: mysql